doctype html
html(lang="en")
  head
    title=book.title
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    div#container
      h1#indexTitle Book Title:
          h3=book.title
      h1#indexTitle Book's Author:
          h3=book.author
      h1#indexTitle Genre:
          h3=book.genre
      h1#indexTitle Written in:
          h3=book.language
      a(href=`${book.id}/update`)#updateBook &#8635; Update
      a(href=`${book.id}/delete`)#deleteBook &times; Delete
      a(href="../")#addBook &larr; Back